.App {
  text-align: center;
  background-color: #282c34;
  min-height: 100vh;
  padding: 10%;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 40vmin;
}

.App-header {
  display: flex;
  flex-direction: column;
  align-items: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.schedule {
  color: white;
}

.timeUntil {
  font-size: 120%;
  font-weight: bold;
}